<div>
  <input type="text" placeholder="search box" id="search">
</div>
<div id="column-left">
  <div>
  	<% authors.forEach(function(author) { %>
			<h2><%= author.firstname %> <%= author.lastname %></h2>
		<% }); %>
  </div>
</div>
<div id="column-right">
  <div>
	  <% books.forEach(function(book) { %>
			<h2><%= book.title %></h2>
		<% }); %>
  </div>
</div>
<div id="column-center">