<% include partials/head %>

	<form action="/login" method = "post">
		<p>
			<label for="user">username:</label> <input type="text" name="username" id="user" >
		</p>
		<p>
			<label for="pass">password:</label> <input type="password" name="password" id="pass">
		</p>
		<p>
			<input type="submit" value="log in" class ="btn">
		</p>
	</form>
	<a href="/signup">Don't have an account? Create one here</a>

<% include partials/foot %>


