<% include partials/head %>

<div class="container-fluid">
	
	<div class="navbar-right">
			<a class="navbar-btn btn-lg" data-toggle="modal" data-target="#signUpModal">Sign up</a>
			<a class="navbar-btn btn-lg" data-toggle="modal" data-target="#logInModal">Log in</a>
			<a class="navbar-btn btn-lg" href="/">Start Again</a>
	</div>


<!-- Sign-Up Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header"> -->
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign up</h4>
      <!-- </div> -->
      <div class="modal-body">
      	<form action="/submit" method="post">
					<h4>
						<label for="username">username:</label> <input type="text" name="username" id="username">
					</h4>
					<h4>
						<label for="password">password:</label> <input type="password" name="password" id="password">
					</h4>
					<h4>
						<input type="submit" value="sign up" class ="btn btn-lg btn-default">
					</h4>
				</form>
				<h4>
					<a href="/login">Already have an account? Log in here</a>
				</h4>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>




<!-- Log-in Modal -->
<div class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header"> -->
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Log in</h4>
      <!-- </div> -->
      <div class="modal-body">
      	<form action="/login" method="post">
					<h4>
						<label for="user">username:</label> <input type="text" name="username" id="user" >
					</h4>
					<h4>
						<label for="pass">password:</label> <input type="password" name="password" id="pass">
					</h4>
					<h4>
						<input type="submit" value="log in" class ="btn btn-lg btn-default">
					</h4>
				</form>
				<h4>
					<a href="/signup">Don't have an account? Create one here</a>
				</h4>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>




<div class="container-fluid">
	<div>
  	<input id="search-box" type="text" placeholder="search box">
	</div>
	<div class="row">
		<div id="column-left">
				<a href ="javascript:void(0)" class="authors"><%= author.firstname %> <%= author.lastname %></a>	
			
		</div>
 		<div id="column-center">
			<% quotes.forEach(function(quote) { %>
		  	<span class="quotes"><a><%= quote.text %></a></span>
			<% }); %>
		</div>

	<div id="column-right">
		<a href ="javascript:void(0)" class="authors"><%= book.title %></a> 
	</div>
</div>



<% include partials/foot %>